WebContent/wsdl/CaseFilingCreateSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.mastercom/CaseFilingCreate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ws058CaseFilingCreate" targetNamespace="http://app.mastercom/CaseFilingCreate/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://app.mastercom/CaseFilingCreate/">

            <xsd:element name="ws058" type="tns:ws058"/>
        
            <xsd:element name="ws059" type="tns:ws059"/>
        
            <xsd:element name="ws058ws059falha" type="tns:ws058ws059falha"/>
        
            <xsd:complexType name="ws058">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="1" name="ws058-keyalias" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="1" name="ws058-keystorepassword" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="1" name="ws058-consumerkey" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="1" name="ws058-caseType" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="999" minOccurs="0" name="ws058-chargebackRefNum" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws058-customerFilingNumber" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws058-disputeAmount" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-currencyCode" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-dueDate" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-fileAttachment" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-filedAgainstIca" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-filingAs" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-filingIca" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-memo" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-primaryAccountNum" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-acquirerRefNum" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-chargebackReasonCode" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-merchantName" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-violationCode" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-violationDate" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-chargebackDate" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-creditDate" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-caseFilingEbdfDocuments" type="tns:caseFilingEbdfDocuments"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ws059">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws059-caseId" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws059-codigostatus" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws059-mensagemstatus" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ws058ws059falha">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws059-codigostatus" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws059-mensagemstatus" type="xsd:string"/>
            	
            	</xsd:sequence>
            </xsd:complexType>
            
        
            <xsd:complexType name="caseFilingEbdfDocuments">
            	<xsd:sequence>
            		<xsd:element name="expeditedBillingDrfDocument" type="tns:expeditedBillingDrfDocument"/>
					<xsd:element name="smsLinkedCaseFilingDrfDocument" type="tns:smsLinkedCaseFilingDrfDocument"/>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="expeditedBillingDrfDocument">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws058-cardholderName" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-acquirerRefData" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-transactionDate" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-transactionAmount" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-disputeDescription" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-certification" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-chargebackRepresentative" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="smsLinkedCaseFilingDrfDocument">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws058-contactName" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-companyOrInstitution" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-contactEmail" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-reasonForFilingCase" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-processorId" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-acquirerSwitchSerialNum" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-transactionOrSettlementDate" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ws058-numberOfTransactions" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ws058e059Request">
    <wsdl:part element="tns:ws058" name="ws058"/>
  </wsdl:message>
  <wsdl:message name="ws058e059Response">
    <wsdl:part element="tns:ws059" name="ws059"/>
  </wsdl:message>
  <wsdl:message name="ws058e059Fault">
  	<wsdl:part element="tns:ws058ws059falha" name="ws058ws059falha"/>
  </wsdl:message>
  <wsdl:portType name="CaseFilingCreate">
    <wsdl:operation name="ws058e059">
      <wsdl:input message="tns:ws058e059Request"/>
      <wsdl:output message="tns:ws058e059Response"/>
            <wsdl:fault message="tns:ws058e059Fault" name="fault"/>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws058CaseFilingCreateSOAP" type="tns:CaseFilingCreate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ws058e059">
      <soap:operation soapAction="http://app.mastercom/CaseFilingCreate/ws058e059"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaseFilingCreate">
    <wsdl:port binding="tns:ws058CaseFilingCreateSOAP" name="CaseFilingCreateSOAP">
      <soap:address location="http://localhost:8080/mastercom/services/CaseFilingCreateSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
