WebContent/wsdl/FeeCreateSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.mastercom/FeeCreate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FeeCreate" targetNamespace="http://app.mastercom/FeeCreate/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://app.mastercom/FeeCreate/">


            <xsd:element name="ws068" type="tns:ws068"/>
            <xsd:element name="ws069" type="tns:ws069"/>
        
            <xsd:complexType name="ws068">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws068-claim-id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-card-aceppt-code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-card-number" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-country-code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-currency" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-fee-date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-dest-member" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-fee-amt" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-credit-sender" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-credit-receiver" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-mensage" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-reason-code" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-key-alias" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-key-store-password" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws068-consumer-key" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ws069">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws069-fee-id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws069-codigo-status" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws069-mensagem-status" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>

            <xsd:element name="ws068e069falha" type="tns:ws068e069falha"/>
        
            <xsd:complexType name="ws068e069falha">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws069-codigo-status" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws069-mensagem-status" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FeeCreateRequest">
    <wsdl:part element="tns:ws068" name="ws068"/>
  </wsdl:message>
  <wsdl:message name="FeeCreateResponse">
    <wsdl:part element="tns:ws069" name="ws069"/>
  </wsdl:message>
  <wsdl:message name="FeeCreateFault">
  	<wsdl:part element="tns:ws068e069falha" name="ws068e069falha"/>
  </wsdl:message>
  <wsdl:portType name="FeeCreate">
    <wsdl:operation name="FeeCreate">
      <wsdl:input message="tns:FeeCreateRequest"/>
      <wsdl:output message="tns:FeeCreateResponse"/>
            <wsdl:fault message="tns:FeeCreateFault" name="fault"/>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeeCreateSOAP" type="tns:FeeCreate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FeeCreate">
      <soap:operation soapAction="http://app.mastercom/FeeCreate/FeeCreate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeeCreate">
    <wsdl:port binding="tns:FeeCreateSOAP" name="FeeCreateSOAP">
      <soap:address location="http://localhost:8080/mastercom/services/FeeCreateSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
