WebContent/wsdl/ws064_FraudCreateSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.mastercom/fraudcreate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ws064_FraudCreate" targetNamespace="http://app.mastercom/fraudcreate/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://app.mastercom/fraudcreate/">


            <xsd:element name="ws064" type="tns:ws064"/>
            <xsd:element name="ws064e065falha" type="tns:ws064e065falha"/>
            <xsd:element name="ws065" type="tns:ws065"/>
        
            <xsd:complexType name="ws064">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws064-claim-id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws064-acc-status" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws064-chargeback-ind" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws064-cvc-inv-ind" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws064-device-type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws064-fraud-type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws064-report-date" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws064-sub-type" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws064-key-alias" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws064-key-store-password" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws064-consumer-key" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ws065">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws065-fraud-id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws065-codigo-status" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="ws065-mensagem-status" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ws064e065falha">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws065-codigo-status" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="ws065-mensagem-status" type="xsd:string"/>
            	
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FraudCreateRequest">
    <wsdl:part element="tns:ws064" name="ws064"/>
  </wsdl:message>
  <wsdl:message name="FraudCreateResponse">
    <wsdl:part element="tns:ws065" name="ws065"/>
  </wsdl:message>
  <wsdl:message name="FraudCreateFault">
  	<wsdl:part element="tns:ws064e065falha" name="ws064e065falha"/>
  </wsdl:message>
  <wsdl:portType name="FraudCreate">
    <wsdl:operation name="FraudCreate">
      <wsdl:input message="tns:FraudCreateRequest"/>
      <wsdl:output message="tns:FraudCreateResponse"/>
            <wsdl:fault message="tns:FraudCreateFault" name="fault"/>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws064_FraudCreateSOAP" type="tns:FraudCreate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FraudCreate">
      <soap:operation soapAction="http://app.mastercom/fraudcreate/FraudCreate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FraudCreate">
    <wsdl:port binding="tns:ws064_FraudCreateSOAP" name="ws064_FraudCreateSOAP">
      <soap:address location="http://localhost:8080/mastercom/services/ws064_FraudCreateSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
