WebContent/ws068_FeeCreate.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="FeeCreate" targetNamespace="http://app.mastercom/FeeCreate/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.mastercom/FeeCreate/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://app.mastercom/FeeCreate/">


            <xsd:element name="ws068" type="tns:ws068"></xsd:element>
            <xsd:element name="ws069" type="tns:ws069"></xsd:element>
        
            <xsd:complexType name="ws068">
            	<xsd:sequence>
            		<xsd:element name="ws068-claim-id" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-card-aceppt-code" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-card-number" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-country-code" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-currency" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-fee-date" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-dest-member" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-fee-amt" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-credit-sender" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-credit-receiver" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-mensage" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-reason-code" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-key-alias" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-key-store-password" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws068-consumer-key" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ws069">
            	<xsd:sequence>
            		<xsd:element name="ws069-fee-id" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws069-codigo-status" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
<xsd:element name="ws069-mensagem-status" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>

            <xsd:element name="ws068e069falha" type="tns:ws068e069falha"></xsd:element>
        
            <xsd:complexType name="ws068e069falha">
            	<xsd:sequence>
            		<xsd:element name="ws069-codigo-status"
            			type="xsd:string" minOccurs="0" maxOccurs="1">
            		</xsd:element>
            		<xsd:element name="ws069-mensagem-status" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FeeCreateRequest">
    <wsdl:part element="tns:ws068" name="ws068"/>
  </wsdl:message>
  <wsdl:message name="FeeCreateResponse">
    <wsdl:part element="tns:ws069" name="ws069"/>
  </wsdl:message>
  <wsdl:message name="FeeCreateFault">
  	<wsdl:part name="ws068e069falha" element="tns:ws068e069falha"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FeeCreate">
    <wsdl:operation name="FeeCreate">
      <wsdl:input message="tns:FeeCreateRequest"/>
      <wsdl:output message="tns:FeeCreateResponse"/>
            <wsdl:fault name="fault" message="tns:FeeCreateFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeeCreateSOAP" type="tns:FeeCreate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="FeeCreate">
      <soap:operation soapAction="http://app.mastercom/FeeCreate/FeeCreate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeeCreate">
    <wsdl:port binding="tns:FeeCreateSOAP" name="FeeCreateSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>